{{define "show"}}
{{ template "cabecera"}}

<div class="card">

    <div class="card-header">
        Ticket
    </div>

    <div class="card-body">
        <form method ="post" action="/show">

    
        <input type="hidden" value={{.Id}} class="form-control" name="Id" id="Id" placeholder="">


        <div class="form-group">
          <label for=""> Usuario: </label>
          <input type="text"
            class="form-control" name="Usuario" id="Usuario" value={{.Usuario}} aria-describedby="helpId" placeholder="" readonly>
          
        </div>

       <div class="form-group">
          <label for=""> Numero de Ticket: </label>
          <input type="text"
            class="form-control" name="NumTicket" id="NumTicket" value={{.NumTicket}} aria-describedby="helpId" placeholder="" readonly>
          
        </div>

        
       <div class="form-group">
          <label for=""> Fecha de Creación: </label>
          <input type="text"
            class="form-control" name="FechaCreacion" id="FechaCreacion" value={{.FechaCreacion}} aria-describedby="helpId" placeholder="" readonly>
          
        </div>
       
       <div class="form-group">
          <label for=""> Fecha de Actualización: </label>
          <input type="text"
            class="form-control" name="FechaActualizacion" id="FechaActualizacion" value={{.FechaActualizacion}} aria-describedby="helpId" placeholder="" readonly>
          
        </div>
        


        <div class="form-group">
          <label for=""> Descripcion:</label>
          <input type="text" class="form-control" name="Descripcion" id="Descripcion" value={{.Descripcion}} rows="4" readonly></textarea>
        </div>

        
        
        <a name="" id="" class="btn btn-danger" href="/" role="button">Cancelar</a>
    </div>
    
</div>


{{template "pie"}}
{{end}}